<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.wordly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".fbquiz"
        android:allowBackup="true"
        android:icon="@drawable/wordlyround"
        android:label="Wordly"
        android:roundIcon="@drawable/wordlyround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".registration" />
        <activity android:name=".first" />
        <activity android:name=".quiz" />
        <activity
            android:name=".finalquiz"
            android:label="@string/title_activity_finalquiz"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level2"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level1"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level3"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".route"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level4"
            android:label="@string/title_activity_level4"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level5"
            android:label="@string/title_activity_level5"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dictionary"
            android:launchMode="singleTask" />
        <activity
            android:name=".searchword"
            android:launchMode="singleTask" />
        <activity
            android:name=".slider"
            android:launchMode="singleTask" />
        <activity
            android:name=".beginner"
            android:label="Beginner"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".beginnerfinal"
            android:label="Beginner"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".easy"
            android:label="@string/title_activity_easy"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".forgotpassword"
            android:launchMode="singleTask" />
        <activity
            android:name=".easyfinal"
            android:label="Easy"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".idiomsfinal"
            android:label="Idioms"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dailynotification"
            android:label="@string/title_activity_dailynotification"
            android:theme="@style/AppTheme" />

        <receiver android:name=".notification" />

        <activity
            android:name=".expertfinal"
            android:label="Expert"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".extrawordsfinal"
            android:label="Wordly"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bookmarkroute"
            android:label="Bookmarks" />
        <activity
            android:name=".beginnerbookmark"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".beginnerbookmark1"
            android:label="Bookmarks"
            android:theme="@style/AppTheme" />
        <activity android:name=".intermediatebookmark" />
        <activity android:name=".expertbookmark"></activity>
    </application>

</manifest>