<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.wordly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".fbquiz"
        android:allowBackup="true"
        android:label="Wordly"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".registration" />
        <activity android:name=".first" />
        <activity android:name=".quiz" />
        <activity
            android:name=".finalquiz"
            android:label="@string/title_activity_finalquiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level2"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level1"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level3"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".route"
            android:label="Wordly"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level4"
            android:label="@string/title_activity_level4"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level5"
            android:label="@string/title_activity_level5"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dictionary"
            android:launchMode="singleTask"/>
        <activity android:name=".searchword"
            android:launchMode="singleTask"/>
        <activity android:name=".slider"
            android:launchMode="singleTask">

        </activity>
    </application>

</manifest>